<h1>Ultimate Jamz</h1>
<% flash.each do |type, message| %>
  <%= content_tag :div, message, class: "flash_#{type}" %>
<% end %>
<table>
  <caption>Songs</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Artist</th>
      <td>&nbsp;</th>
      <td>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= link_to song.title, song %></td>
        <td><%= song.artist %>
        <td><%= link_to "edit", edit_user_song_path(song) %></td>
        <td><%= link_to "delete", user_song_path(song), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "New Song", new_user_song_path %></p>
